body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #F5EFE6;
  color: #3A3A3A;
}

button {
  background: #C8B6E2;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #b39dd9;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 6px 0;
}